@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ scroll-behavior: smooth;}
:root{
	--mrgn-half: calc(var(--mrgn) / 2);  /*9px*/
	--mrgn:      18px;
	--mrgn-x2:   calc(var(--mrgn) * 2); /*36px*/
	--mrgn-x4:   calc(var(--mrgn) * 4); /*72px*/
	--mrgn-x8:   calc(var(--mrgn) * 8);/*144px*/

	--basic-width : 1200px;
	--basic-font-size: 14px;

	--color-main:  #030014;
	--color-point: #e59cff;
	--color-point-050: rgba(229, 156, 255, 0.5);
	--color-sub:   #f6f6f6;

	--color-w-000: rgba(255, 255, 255, 0);
	--color-w-015: rgba(255, 255, 255, .15);
	--color-w-025: rgba(255, 255, 255, .25);
	--color-w-035: rgba(255, 255, 255, .35);
	--color-w-050: rgba(255, 255, 255, .5);
	--color-w-065: rgba(255, 255, 255, .65);
	--color-w-075: rgba(255, 255, 255, .75);
	--color-w-085: rgba(255, 255, 255, .85);
	--color-w:   #fff;

	--color-k-000: rgba(0, 0, 0, 0);
	--color-k-015: rgba(0, 0, 0, .15);
	--color-k-025: rgba(0, 0, 0, .25);
	--color-k-035: rgba(0, 0, 0, .35);
	--color-k-050: rgba(0, 0, 0, .5);
	--color-k-065: rgba(0, 0, 0, .65);
	--color-k-075: rgba(0, 0, 0, .75);
	--color-k-085: rgba(0, 0, 0, .85);
	--color-k:   #000;
}
html, body{ position: relative; min-width: var(--basic-width); background: var(--color-main); color: var(--color-w); font-size: var(--basic-font-size); font-family: "Poppins";}
.fa-solid, .fa-regular, .fa-light, .fa-thin{ line-height: inherit;}
.wrap{ position: relative;}
.sections{ position: relative;}
.width_con{ position: relative; margin: 0 auto; width: var(--basic-width); padding: var(--mrgn-x8) 0;}

::selection { background: var(--color-point-050); color: #000;}

h1, h2, h3, h4, h5, h6{ position: relative;}
h1, h2, h3{ font-family: "Poppins"; line-height: .815em; text-transform: uppercase;}
h4, h5, h6{ line-height: 1.25em;}
h1{ font-size:  8.5em; }
h2{ font-size:    6em; }
h3{ font-size:    2em; }
h4{ font-size: 1.45em; font-weight: 400;}
h5{ font-size:    1em; font-weight: 500;}
h6{ font-size:  .85em; font-weight: 500;}
b { font-weight: bold;}

.center{ text-align: center;}
.sticky { position: sticky !important; top: 100px;}
.line{width: var(--basic-width); height: 1px; box-shadow: 0 -1px 0 0 var(--color-k-035); background: var(--color-w-015); margin: var(--mrgn-x4) auto;}
.undraggable{ -webkit-user-select: none; -moz-user-select: none; -ms-use-select: none; user-select: none;}

.title_con{ position: relative;}
.title_con + *{ margin-top: var(--mrgn-x4) !important;}
.title_con h1{ margin-bottom: var(--mrgn-x2);}
.title_con h2{ margin-bottom: var(--mrgn-x2);}
.title_con h3{ margin-bottom: var(--mrgn); color: var(--color-w); text-shadow: 0 0 5px rgba(229, 156, 255, 0.7), 0 0 10px rgba(186, 156, 255, 0.5), 0 0 15px rgba(186, 156, 255, 1), 0 0 20px rgba(155, 178, 255, 0.7), 0 0 25px rgba(155, 178, 255, 0.5);}
.title_con h4{ margin-bottom: var(--mrgn);}
.title_con h4:before{ position: absolute; top: calc(var(--mrgn) * -1); left: 0; content: ''; width: var(--mrgn-x2); height: 3px; background: var(--color-w); box-shadow: 0 0 5px rgba(229, 156, 255, 0.7), 0 0 10px rgba(186, 156, 255, 0.5), 0 0 15px rgba(186, 156, 255, 1), 0 0 20px rgba(155, 178, 255, 0.7), 0 0 25px rgba(155, 178, 255, 0.5);}
.title_con.center h4:before{left: 50%; transform: translateX(-50%);}
.educationdown h5.h5_bar:before{ position: absolute; top: calc(var(--mrgn-half) * -1); left: 0; content: ''; width: var(--mrgn-x2); height: 3px; background: var(--color-w); box-shadow: 0 0 5px rgba(229, 156, 255, 0.7), 0 0 10px rgba(186, 156, 255, 0.5), 0 0 15px rgba(186, 156, 255, 1), 0 0 20px rgba(155, 178, 255, 0.7), 0 0 25px rgba(155, 178, 255, 0.5);}
.title_con h5{}
.title_con h6{}

i, .glow{ color: var(--color-w); text-shadow: 0 0 5px rgba(229, 156, 255, 0.7), 0 0 10px rgba(186, 156, 255, 0.5), 0 0 15px rgba(186, 156, 255, 1), 0 0 20px rgba(155, 178, 255, 0.7), 0 0 25px rgba(155, 178, 255, 0.5);}

.sections .width_con .title_con h2,
.sections .width_con .title_con h3,
.sections .width_con .title_con h4,
.sections .width_con .title_con h5,
.sections .width_con .title_con h6{ opacity: 1; filter: blur(0); transform: translateY(0); transition: all 1200ms ease-out;}
.sections .width_con .title_con h4:before{ transition: inherit;}

.sections .width_con .title_con h1,
.sections .width_con .title_con h2{ transition-delay: 200ms;}
.sections .width_con .title_con h4{ transition-delay: 400ms;}
.sections .width_con .title_con h5{ transition-delay: 600ms;}
.sections .width_con .title_con h6{ transition-delay: 800ms;}

.sections.wait_scroll .width_con .title_con h2,
.sections.wait_scroll .width_con .title_con h3,
.sections.wait_scroll .width_con .title_con h4,
.sections.wait_scroll .width_con .title_con h5,
.sections.wait_scroll .width_con .title_con h6{ opacity: 0; filter: blur(4px); transform: translateY(var(--mrgn-x2));}
.sections.wait_scroll .width_con .title_con h4:before{ width: var(--mrgn-x8);}

ul.v_con{ width: calc(100% + var(--mrgn-x2)); margin: 0 calc(var(--mrgn) * -1) calc(var(--mrgn-x2) * -1);}
ul.v_con > li.cells{ position: relative; display: inline-block; margin: 0 var(--mrgn) var(--mrgn-x2); width: calc(100% - var(--mrgn-x2)); }
ul.v_con > li.cells.box{ background: rgba(255,255,255,0.13); border-radius: var(--mrgn); transform: scale(1); transition: all 150ms ease-in-out; backdrop-filter: blur(10px);}



ul.v_con > li.cells.box:has(> a){ cursor: pointer;}
ul.v_con > li.cells.box:hover:has(> a){}
ul.v_con > li.cells.box:active:has(> a){ transform: scale(.995);}

ul.v_con > li.cells.box > a{ display: block; aspect-ratio: inherit; border-radius: inherit; transition: inherit; filter: brightness(1); text-decoration: none;}
ul.v_con > li.cells.box:hover > a{ box-shadow: 0 0 6px #fff, 0 0 5px rgba(229, 156, 255, 0.7), 0 0 10px rgba(186, 156, 255, 0.5), 0 0 15px rgba(186, 156, 255, 1), 0 0 20px rgba(155, 178, 255, 0.7), 0 0 25px rgba(155, 178, 255, 0.5); filter: brightness(1);}
ul.v_con > li.cells.box:active > a{ box-shadow: 0 1px 3px -1px var(--color-w); filter: brightness(.9);}
ul.v_con > li.cells > img,
ul.v_con > li.cells > a > img{ width: 100%; border-radius: inherit;}


ul.v_con.two_con   > li.cells{ width: calc(50%     - var(--mrgn-x2));}
ul.v_con.three_con > li.cells{ width: calc(33.333% - var(--mrgn-x2));}
ul.v_con.four_con  > li.cells{ width: calc(25%     - var(--mrgn-x2));}
ul.v_con.six_con   > li.cells{ width: calc(16.666% - var(--mrgn-x2));}
ul.v_con.ub_two_con > li.cells:nth-child(2n-1){ width: calc(33.333% - var(--mrgn-x2));}
ul.v_con.ub_two_con > li.cells:nth-child(2n){ width: calc(66.666% - var(--mrgn-x2));}
ul.v_con.rub_two_con > li.cells:nth-child(2n-1){ width: calc(66.666% - var(--mrgn-x2));}
ul.v_con.rub_two_con > li.cells:nth-child(2n){ width: calc(33.333% - var(--mrgn-x2));}


.text_con{ position: absolute; bottom: 0; left: 0; padding: var(--mrgn-half); width: 100%; background: linear-gradient(0deg, var(--color-k-065), var(--color-k-000)); box-sizing: border-box; border-radius: inherit; text-shadow: 0 0 6px var(--color-k-035);}
ul.v_con > li.cells .text_con:has(> h4){padding: var(--mrgn);}
ul.v_con > li.cells .text_con h4,
ul.v_con > li.cells .text_con h5,
ul.v_con > li.cells .text_con h6{ color: var(--color-w); line-height: 1.15em; margin-top: var(--mrgn-half);}
ul.v_con > li.cells .text_con h4{}
ul.v_con > li.cells .text_con h5{}
ul.v_con > li.cells .text_con h6{}


.ratio_1x1{  aspect-ratio:  1/1;}
.ratio_1x2{  aspect-ratio:  1/2;}
.ratio_2x1{  aspect-ratio:  2/1;}
.ratio_3x2{  aspect-ratio:  3/2;}
.ratio_3x4{  aspect-ratio:  3/4;}
.ratio_4x3{  aspect-ratio:  4/3;}
.ratio_16x9{ aspect-ratio: 16/9;}
.ratio_9x16{ aspect-ratio: 9/16;}

#header.sections.section_00{ width: 1400px;}
#header.sections.section_00,
#header.sections.section_00.scrolled:hover{ position: fixed; top: 18px; left: 50%; transform: translateX(-50%); width: 1400px; height: 60px; z-index: 999; transition: all 200ms ease-in-out; box-shadow: 0 0 0 0 var(--color-k-000); border-radius: 999px; overflow: hidden;}
#header.sections.section_00.scrolled{ height: 60px;}
#header.sections.section_00:hover,
#header.sections.section_00.scrolled:hover{ box-shadow: 0 0 6px #fff, 0 0 5px rgba(229, 156, 255, 0.35), 0 0 10px rgba(186, 156, 255, 0.25), 0 0 15px rgba(186, 156, 255, 0.5), 0 0 20px rgba(155, 178, 255, 0.35), 0 0 25px rgba(155, 178, 255, 0.25);}

#header.sections.section_00:before,
#header.sections.section_00:after{ position: absolute; content: ''; width: 1400px; height: 100%; transition: inherit; left: 50%; transform: translate(-50%); border-radius: 999px;}
#header.sections.section_00:before{ height: 100%; -webkit-backdrop-filter: blur(0); backdrop-filter: blur(0);}
#header.sections.section_00:after{ top: 0; height: 100%; background: var(--color-k); opacity: .65;}

#header.sections.section_00.scrolled:before,
#header.sections.section_00.scrolled:after{ width: 1400px;}
#header.sections.section_00.scrolled:before{-webkit-backdrop-filter: blur(30px); backdrop-filter: blur(30px);}
#header.sections.section_00.scrolled:after,
#header.sections.section_00:hover:after{ top: 0%; opacity: .85;}

#header.sections.section_00 .width_con{ padding: 0; z-index: 1; transition: inherit;}
#header.sections.section_00 .width_con a.btn_home,
#header.sections.section_00.scrolled:hover .width_con a.btn_home{ position: absolute; height: 32px; top: 14px; transition: inherit;}
#header.sections.section_00.scrolled .width_con a.btn_home{ height: 32px; top: 14px;}
#header.sections.section_00 .width_con a.btn_home img{ height: 100%;}

#header.sections.section_00 .width_con > ul{ position: absolute; right: 0;}
#header.sections.section_00 .width_con > ul > li{ display: inline-block; transition: all 100ms ease-in-out; color: var(--color-w-035);}
#header.sections.section_00 .width_con > ul > li > a{ display: block; color: var(--color-w); text-decoration: none; transition: inherit; text-transform: uppercase; transform: translateY(0);}
#header.sections.section_00 .width_con > ul:hover > li > a{ color: var(--color-w-050);}
#header.sections.section_00 .width_con > ul > li:hover > a{ color: var(--color-w); text-shadow: 0 0 6px #fff, 0 0 5px rgba(229, 156, 255, 0.35), 0 0 10px rgba(186, 156, 255, 0.25), 0 0 15px rgba(186, 156, 255, 0.5), 0 0 20px rgba(155, 178, 255, 0.35), 0 0 25px rgba(155, 178, 255, 0.25);}
#header.sections.section_00 .width_con > ul > li:active > a{ transform: translateY(1px);}

#header.sections.section_00 .width_con ul.nav_gnb,
#header.sections.section_00.scrolled:hover .width_con ul.nav_gnb{ top: 16px; transition: inherit; opacity: 1; filter: blur(0); pointer-events: all;}
#header.sections.section_00.scrolled .width_con ul.nav_gnb{ top: 8px; opacity: 0; filter: blur(4px); pointer-events: none;}
#header.sections.section_00 .width_con ul.nav_gnb > li{ margin-left: var(--mrgn);}
#header.sections.section_00 .width_con ul.nav_gnb > li > a{}

#header.sections.section_00 .width_con ul.nav_lnb,
#header.sections.section_00.scrolled:hover .width_con ul.nav_lnb{ top: 22px; transition: inherit;}
#header.sections.section_00.scrolled .width_con ul.nav_lnb{ top: 22px;}
#header.sections.section_00 .width_con ul.nav_lnb > li{ margin-left: var(--mrgn-x2);}
#header.sections.section_00 .width_con ul.nav_lnb > li > a{ position: relative; font-size: 1.15em;}
#header.sections.section_00 .width_con ul.nav_lnb > li.nav_segment{ position: absolute; left: 20px; top: -13px; width: 6px; height: 6px; background: #fff; border-radius: 999px; transition: all 0.3s ease-in-out; box-shadow: 0 0 6px #fff, 0 0 5px rgba(229, 156, 255, 0.7), 0 0 10px rgba(186, 156, 255, 0.5), 0 0 15px rgba(186, 156, 255, 1), 0 0 20px rgba(155, 178, 255, 0.7), 0 0 25px rgba(155, 178, 255, 0.5); filter: brightness(1);}

#footer.sections.section_06{}
#footer.sections.section_06 .width_con .v_con li.cells.no_bar .v_con.three_con li.cells .title_con h4:before{ display: none;}
#footer.sections.section_06 .width_con .v_con li.cells.no_bar .v_con.three_con li.cells .title_con a{ display: inline-block; color: white; text-decoration: none;}
#footer.sections.section_06 .width_con .v_con li.cells.no_bar .v_con.three_con li.cells .title_con a h4,
#footer.sections.section_06 .width_con .v_con li.cells.no_bar .v_con.three_con li.cells .title_con a h5{ transition: all 350ms ease-out !important;}
#footer.sections.section_06 .width_con .v_con li.cells.no_bar .v_con.three_con li.cells .title_con a:hover{ color: var(--color-w); text-shadow: 0 0 5px rgba(229, 156, 255, 0.7), 0 0 10px rgba(186, 156, 255, 0.5), 0 0 15px rgba(186, 156, 255, 1), 0 0 20px rgba(155, 178, 255, 0.7), 0 0 25px rgba(155, 178, 255, 0.5);}
#footer.sections.section_06 .width_con .v_con li.cells .logo_bottom img{ width: 300px; height: 100%;}

.glow_c{ position: absolute; border-radius: 9999px; 
	background: radial-gradient( var(--color-main) 90%, var(--color-w) 100%);
	box-shadow: 
	0 0 20px #fff,
	-20px 0 80px #d473d1,
	20px 0 80px #a573d4,
	inset 0 0 50px #fff,
	inset 50px 0 80px #d473d1,
	inset -50px 0 80px #a573d4,
	inset 50px 0 1000px #d473d1,
	inset -50px 0 1000px #a573d4;
	animation: pulsate 2s linear infinite;
}
.glow_c.big{ height: 1000px; width: 1000px; top: 50%; transform: translateY(-50%);}
.glow_c.small{ height: 500px; width: 500px; left: 70%; top: 50px; animation: pulsate 2000ms linear infinite;}
.glow_c.small.two{ height: 300px; width: 300px; left: 1%; top: 50px; animation: pulsate 3000ms linear infinite; filter: blur(1px); opacity: 0.9;}
.glow_c.small.three{ height: 200px; width: 200px; left: 32%; top: 600px; animation: pulsate 4000ms linear infinite; filter: blur(2px); opacity: 0.7;}
.glow_c.small.four{ height: 100px; width: 100px; left: 57%; top: 370px; animation: pulsate 5000ms linear infinite; filter: blur(3px); opacity: 0.5;}

.glow_c.l{ left: -900px;}
.glow_c.r{ right: -900px;}

.glow_c:after{ position: absolute; top: -1px; left: -1px; content:''; height: 1002px; width: 1002px; border-radius: 9999px; background: #d7c9e8; mask-image: radial-gradient(transparent 67%, var(--color-w) 71%);}
.glow_c.big:after{ height: 1002px; width: 1002px;}
.glow_c.small:after{ height: 502px; width: 502px;}
.glow_c.small.two:after{ height: 302px; width: 302px;}
.glow_c.small.three:after{ height: 202px; width: 202px;}
.glow_c.small.four:after{ height: 102px; width: 102px;}

@keyframes pulsate {
	50%{
		box-shadow: 
		0 0 40px #fff,
		-20px 0 100px #a573d4,
		20px 0 100px #d473d1,
		inset 0 0 70px #fff,
		inset 50px 0 80px #a573d4,
		inset -50px 0 80px #d473d1,
		inset 50px 0 1000px #a573d4,
		inset -50px 0 1000px #d473d1;
	}
	
}